#welcome {
  min-height: 700px;
  margin-bottom: 25%;
}

#welcome h2 {
  color : var(--text-secondary);
}

#welcome span {
  color: var(--text-gold);
}

.line {
  display: block;
  white-space: nowrap;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  overflow: hidden;
}

.anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both, blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 50rem;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
